.image-container{
    width: 100%;
    height:100%;
    object-fit: cover;
    mask-image: linear-gradient(white 0%,white 40%, transparent 100%);
}
.overlay-text-container{
    width: max-content;
    position: absolute;
    top: 0;
    z-index:1 ;
    user-select: none;
}